@model IEnumerable<TAC_Buddy2_Proj.Models.TAC_TeamLeader>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EDIPI_DoD_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Billet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MOS_designator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EDL_Last_Verified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZAP_Number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EDIPI_DoD_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Billet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOS_designator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EDL_Last_Verified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZAP_Number)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TAC_TeamLeader_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TAC_TeamLeader_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TAC_TeamLeader_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
